/* type scale 
    8 16 32 48 64 80 92 104 116 132 
*/

/* 
color 
#ADDCD4
#9AD7D2
#6c9793


#d7b89a
#d79a9c
tint
*/

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10rem;
}

.login--block{
    /* background-color: aqua; */
    padding: 3rem 6rem;
    /* padding-bottom: 2rem; */
    border-radius: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: #9AD7D2;
    background-color: #ebf7f6;
}

.login--block h2{
    font-size: 2.6rem;
    color:#1f2b2a;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    text-align: center;
}

.login-text-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: center;
    gap: 1rem;
    margin: 2rem 1rem;
}
.text-login{
    font-size: 1.4rem;
    color: #1f2b2a;
    font-weight: 400;
}

.login-text-field input{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    background-color: #f5fbfb;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login-button{
    margin-top: 5rem;
    padding: 1.2rem;
    width: 100%;
    border: none;
    font-size: 1.8rem;
    font-family: inherit;
    background-color: green;
    color: white;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    align-self: center;
}