/* type scale 
    8 16 32 48 64 80 92 104 116 132 
*/

/* 
color 
#ADDCD4
#9AD7D2
#6c9793


#d7b89a
#d79a9c
tint
*/

.organic-heading{
    margin: 2rem 4.6rem;
    margin-top: 4.6rem;
}

.organic-heading h1{
    color: #6c9793;
    font-size: 3.6rem;
    font-weight: 500;
    margin-bottom: 0rem;
}

.organic-heading h4{
    color: #9AD7D2;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
}

.orgainc-waste--introdction{
    padding: 1rem 4.6rem;
    /* background-color: aqua; */
}
   
.org-waste h2{
    color: #6c9793;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.org-waste p{
color: #1f2b2a;
font-size: 1.6rem;
font-weight: 400;
letter-spacing: 0.2px;
word-spacing: 1.2px;
}

.explain-features{
    padding: 4rem 3.6rem;
    font-size: 2.4rem;
    color:#1f2b2a;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.type-waste{
    padding: 4rem 3.6rem;
}

.type-waste h2{
    font-size: 2.4rem;
    color:#1f2b2a;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.odd-features{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: #e1f3f2;
    border-radius: 1.2rem;
    margin-bottom: 7rem;
    margin-top: 7rem;
}

.odd-features img{
    width:100%;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    height: 100%;
}

.odd-text-box{
    padding: 3.2rem 7.2rem;
}

.number{
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
.text{
    font-size: 1.3rem;
    color: #1f2b2a;
    letter-spacing: 0.8px;
    word-spacing: 1.2px;
    line-height: 1.7rem;
    display: inline-block;
    margin-bottom: 1rem;
}
.text-span{
    font-size: 1.4rem;
    font-weight: 600;
}

.number_odd{
    color:#d7b89a;
}




.number_even{
    color:#d79a9c;
}

.even-features{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: #f3e5e1;
    margin-bottom: 7rem;
    margin-top: 7rem;
    border-radius: 1.2rem;
}

.even-features img{
    width: 100%;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    height: 100%;
}

.even-text-box{
    padding: 3.2rem 7.2rem;
}

footer{
    height: 7rem;
}

.last_block{
    margin-bottom: 0rem
}